<footer class="footer">
  <div class="container">
    <div class="row g-2 pt-4 pb-2 mb-4">
      <div class="col-md-4 wow fadeInUp">
        <div class="logo">
          <div class="d-flex align-items-center gap-0">
            <img loading="lazy" src="assets/images/navbar-images/fleet-logo.png" class="logo-img" alt="fleetlight">
            <h5>FleetLight</h5>
          </div>
          <p class="my-3">
            FleetLight is your trusted partner for heavy equipment solutions, providing original parts, fast delivery, and expert support to ensure your operations run smoothly.
          </p>
        </div>
        <div class="footer-icons d-flex justify-content-start align-items-center gap-2">
          <i class="fa-brands fa-instagram cr"></i>
          <i class="fa-brands fa-facebook-f cr"></i>
          <i class="fa-brands fa-x-twitter cr"></i>
          <i class="fa-brands fa-snapchat cr"></i>
        </div>
      </div>

      <div class="col-md-4 wow fadeInUp">
        <h5>Links</h5>
        <ul class="touch px-0 list-unstyled d-flex flex-column justify-content-start align-items-start gap-1">
          <li>- Home</li>
          <li>- Service</li>
          <li>- Rental</li>
          <li>- Why Us</li>
          <li>- Spare Parts</li>
          <li>- Privacy Policy</li>
          <li>- Terms of Use</li>
        </ul>
      </div>

      <div class="col-md-4 wow fadeInUp">
        <h5>Contact Us</h5>
        <ul class="list-unstyled px-0 d-flex flex-column justify-content-start align-items-start gap-2">
          <li class="cr">
            <div class="d-flex justify-content-center align-items-start gap-2">
              <i class="fa-solid fa-phone"></i>
              <span class="mt-1">+966559065802</span>
            </div>
          </li>

          <li class="cr">
            <div class="d-flex justify-content-center align-items-start gap-2">
              <i class="fa-regular fa-envelope"></i>
              <span class="mt-1">med.abdelkader{{'@'}}2earn.cash</span>
            </div>
          </li>

          <li class="cr">
            <div class="d-flex justify-content-center align-items-start gap-2">
              <i class="fa-solid fa-location-dot"></i>
              <a href="https://maps.app.goo.gl/QPBh6UZAejJLHRLR7" class="mt-1">234-Address-Exmpl</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="copy-right text-center p-2 wow fadeInUp">
    <p class="m-0">FleetLight Co. &copy; 2025</p>
  </div>
</footer>
