<!-- <section id="home" class="home">
  <div class="container h-100">
    <div class="title d-flex flex-column justify-content-center h-100 text-white">
      <h1><span class="second-color">Search Stop:</span> All genuine heavy equipment spare parts at your fingertips</h1>
      <p class="my-3">The fastest way to guaranteed spare parts and certified workshop services.</p>
      <div class="input-group mt-2">
        <div class="input-group-prepend ">
          <div class="input-group-text h-100 rounded-start-4 cr">
           <i class="fa-solid fa-magnifying-glass text-white"></i>
          </div>
        </div>
        <input type="search" class="form-control rounded-end-4 w-25 shadow-none bg-transparent border-2" aria-label="Seach By Parts" placeholder="Search.....">
      </div>
    </div>
  </div>
</section> -->

<section id="home" class="home">
  <div class="container h-100">
    <div class="title d-flex flex-column justify-content-center h-100 text-white">
      <h1>
        <span class="second-color">محطة البحث الأولى... </span> <br>
        جميع قطع غيار المعدات الثقيلة الأصلية بين يديك
      </h1>
      <p class="my-3">
        أسرع طريقة للحصول على قطع غيار مضمونة وخدمات ورش معتمدة.
      </p>
      <div class="input-group mt-2 rounded-4">
        <div class="input-group-prepend">
          <div class="input-group-text h-100 cr">
            <i class="fa-solid  fa-magnifying-glass text-white"></i>
          </div>
        </div>
        <input
          type="search"
          class="form-control w-25 shadow-none  bg-transparent border-2"
          aria-label="البحث عن قطع الغيار"
          placeholder="ابحث عن قطعة الغيار..."
        />
      </div>
    </div>
  </div>
</section>
