$main-color : #2A39AD;
$second-color:#2449E0;

.home{
  height: 100vh !important;
  background: linear-gradient(to left, #000000c7 40%, #ffffff83), url('/assets/images/home-images/home-bg.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  .title{
    h1{
      width: 75%;
    }
    p{
      font-size: 20px;
    }
    .input-group {
      width: 60%;
      .input-group-text{
        background-color: $main-color;
        border-color: $main-color;
      }
      input {
        color: #fff;
        backdrop-filter: blur(5px);
        border: 1px solid $main-color;
        &::placeholder {
          color: #ccc;
        }
      }
    }
  }
}

@media (max-width:768px) {
  .home{
    background: linear-gradient(to bottom, #000000c7 40%, #ffffff83), url('/assets/images/home-images/home-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    .title {
      h1{
        width: 100%;
        font-size: 24px;
      }
      p{
        font-size: 16px;
      }
      .input-group {
        width: 100%;
      }
    }
  }
}
