<section id="logistics" class="logistics-section py-5">
  <div class="container">
    <!-- Title -->
    <div class="text-center mb-4">
      <h2>Comprehensive Support Services</h2>
      <h5>Workshops & Salvage</h5>
    </div>


    <div class="row justify-content-center g-4">
      <!-- Workshop/Maintenance Card -->
      <div class="col-md-5">
        <div class="card workshop-card text-center h-100 border-0 rounded-4 overflow-hidden">
          <img src="assets/images/logistics-images/workshop-banner.jpeg" class="card-img-top object-fit-cover" alt="Buy and Sell Equipment">
          <div class="card-body">
            <h3 class="card-title">Workshop & Maintenance</h3>
            <p class="card-text text-muted">Reliable maintenance services with warranty and easy booking for all your equipment.</p>
            <button class="btn main-btn w-100">
              Book Your Maintenance Now
            </button>
          </div>
        </div>
      </div>

      <!-- Rental Card -->
      <div class="col-md-5">
        <div class="card rental-card text-center h-100 border-0 rounded-4 overflow-hidden">
          <img src="assets/images/logistics-images/salvage-banner.jpeg" class="card-img-top object-fit-cover" alt="Equipment Rental">
          <div class="card-body">
            <h3 class="card-title">Salvage & Equipment Sales</h3>
            <p class="card-text text-muted">Fair evaluation and sale of your used equipment, ensuring the best value.</p>
            <button class="btn main-btn w-100">
              Get Your Equipment Evaluated
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
