<section id="equipment-brands" class="equipment-brands-section py-5">
  <div class="container">

    <!-- Title -->
    <div class="text-center mb-4">
      <h2>
        خبراء فيما يهمك
      </h2>
      <h5>
        نغطي أشهر وأقوى علامات المعدات الثقيلة عالميًا
      </h5>
    </div>

    <!-- CTA -->
    <button class="btn second-btn">
      عرض الكل
    </button>


    <!-- Logos Slider -->
    @if(isBrowser){
      <swiper-container
        dir="rtl"
        slides-per-view="6"
        space-between="10"
        autoplay-delay="2500"
        loop="true"
        pagination="false"
        navigation="false"
        [breakpoints]="swiperConfig.breakpoints"
      >

        @for (brand of equipmentBrands; track $index) {
          <swiper-slide class="cr d-flex justify-content-center align-items-center my-3 px-1" >
            <div class="brand-logo d-flex justify-content-center align-items-center w-100 h-100 rounded-4 p-2" >
              <img [src]="brand.image" [alt]="brand.name" loading="lazy" >
              <span class="brand-name">{{brand.name}}</span>
            </div>
          </swiper-slide>
        }

      </swiper-container>
    }

  </div>
</section>
