<section id="trust" class="trust-section py-5">
  <div class="container">
    <div class="text-center mb-4">
      <h2>لماذا يثق مقاولو المعدات الثقيلة الكبار بنا</h2>
    </div>

    <!-- <div class="row">
      <div class="col-12">
        <div class="row">
          @for ( benefit of benefits; track $index) {
            <div class="col-md-3 col-lg-3 col-6 mb-3">
              <div class="card text-center d-flex justify-content-center align-items-center rounded-4 h-100">
                <img [src]="benefit.image" class="card-img-top" [alt]="benefit.title">
                <div class="card-body d-flex flex-column justify-content-between align-items-center">
                  <h5 class="card-title">{{ benefit.title }}</h5>
                  <p class="card-text">{{ benefit.description }}</p>
                  <button class="btn main-btn w-100">تواصل مع خبرائنا الآن</button>
                </div>
              </div>
            </div>
          }
        </div>

      </div>
      <div class="col-12">
          <div class="card h-100">
            <div class="card-body h-100">
              <div class="why-us">
                <h2>لماذا نحن...</h2>
                <p>FleetLinker هي منصة رقمية متكاملة تم تصميمها خصيصًا لخدمة قطاع المعدات الثقيلة والشاحنات، بهدف جمع جميع احتياجات هذا القطاع في مكان واحد.</p>

                <p>تعمل المنصة كحلقة وصل ذكية بين أصحاب المعدات، موردي قطع الغيار، ورش الصيانة، وشركات التأجير، لتسهيل الوصول إلى الخدمات والمنتجات المتعلقة بالمعدات بطريقة سريعة وفعّالة وموثوقة.</p>

                <h6>هدفنا الأساسي هو تحويل الطريقة التقليدية لإدارة وصيانة المعدات إلى تجربة رقمية متكاملة، تمكّن المستخدم من:</h6>
                <ul>
                  <li>طلب قطع الغيار بسهولة</li>
                  <li>الحصول على عروض أسعار تنافسية</li>
                  <li>الوصول إلى ورش الصيانة</li>
                  <li>تأجير وبيع المعدات</li>
                  <li>إدارة الأسطول ومتابعة المصروفات</li>
                  <li>متابعة الشحنات والطلبات</li>
                </ul>

                <p>تعمل المنصة كحلقة وصل ذكية بين أصحاب المعدات، موردي قطع الغيار، ورش الصيانة، وشركات التأجير، لتسهيل الوصول إلى الخدمات والمنتجات المتعلقة بالمعدات بطريقة سريعة وفعّالة وموثوقة.</p>
              </div>

              <div class="what-fleetLinker-offers">
                <h2>ماذا تقدّم Fleetlight</h2>
                <h6  class="px-2">توفّر منصة FleetLinker مجموعة واسعة من الخدمات المتكاملة، منها:</h6>
                <ul class="row">
                  <div class="col-md-6">
                    <li>سوق إلكتروني لقطع الغيار الجديدة والمستعملة</li>
                  </div>

                  <div class="col-md-6">
                    <li>نظام مناقصات سريع بين الموردين (Fast Bidding)</li>
                  </div>

                  <div class="col-md-6">
                    <li>ربط مباشر مع ورش الصيانة</li>
                  </div>

                  <div class="col-md-6">
                    <li>قسم خاص بقطع التشليح والقطع النادرة</li>
                  </div>


                  <div class="col-md-6">
                    <li>خدمات تأجير وبيع المعدات</li>
                  </div>


                  <div class="col-md-6">
                    <li>إدارة الأسطول وتتبع المصروفات</li>
                  </div>


                  <div class="col-md-6">
                    <li>نظام متابعة الطلبات والشحن</li>
                  </div>

                  <div class="col-md-6">
                    <li>نظام تقييم للموردين والورش</li>
                  </div>

                  <div class="col-md-6">
                    <li>لوحة تحكم متكاملة لأصحاب المعدات</li>
                  </div>
                </ul>

                <p>المنصة صُممت لتكون الحل الشامل لكل ما يتعلق بالمعدات الثقيلة، بدل الاعتماد على قنوات متعددة وغير منظمة.</p>
              </div>

              <div class="how-it-works">
                <h2 clas>كيف يعمل النظام؟</h2>
                <h6 class="px-2">آلية العمل داخل FleetLinker بسيطة وفعّالة:</h6>
                <ul class="row">
                  <div class="col-md-6">
                    <li>يقوم المستخدم بتسجيل معداته داخل التطبيق</li>
                  </div>

                  <div class="col-md-6">
                    <li>يرفع طلب قطع غيار أو خدمة صيانة</li>
                  </div>

                  <div class="col-md-6">
                    <li>يتم إرسال الطلب تلقائيًا إلى الموردين والورش المناسبة</li>
                  </div>

                  <div class="col-md-6">
                    <li>يستقبل المستخدم عروض أسعار متعددة</li>
                  </div>

                  <div class="col-md-6">
                    <li>يختار العرض الأنسب</li>
                  </div>

                  <div class="col-md-6">
                    <li>تتم عملية الدفع والتوصيل من خلال النظام</li>
                  </div>

                  <div class="col-md-6">
                    <li>تُحفظ جميع العمليات في سجل المعدة</li>
                  </div>
                </ul>
                <p>كل ذلك يتم ضمن بيئة رقمية واحدة توفر الوقت والجهد والتكلفة.</p>
              </div>

              <div class="special-feature">
                <h2 clas>ميزة خاصة: سوق التشاليح والقطع المستعملة</h2>
                <h6 class="px-2">لأن بعض القطع تكون نادرة أو غير متوفرة جديدة، توفر FleetLinker قسمًا مخصصًا للتشاليح والقطع المستعملة، حيث يمكن:</h6>
                <ul class="row">
                  <div class="col-md-6">
                    <li>لأصحاب التشاليح عرض القطع المتوفرة لديهم</li>
                  </div>

                  <div class="col-md-6">
                    <li>رفع صور وتفاصيل القطع المستعملة</li>
                  </div>

                  <div class="col-md-6">
                    <li>تمكين أصحاب المعدات من البحث عن قطع نادرة</li>
                  </div>

                  <div class="col-md-6">
                    <li>إرسال طلبات مباشرة للتشاليح المسجلة</li>
                  </div>

                  <div class="col-md-6">
                    <li>استقبال عروض أسعار تنافسية</li>
                  </div>
                </ul>
                <p>هذه الميزة تتيح الوصول إلى مخزون وطني رقمي للقطع النادرة والمستعملة، بدل البحث التقليدي المرهق.</p>
              </div>

              <div class="who-benefits">
                <h2 clas>من يستفيد من FleetLinker؟</h2>
                <div class="row">
                  <div class="col-md-4">
                    <div class="equipments-owner shadow-sm h-100 p-3 rounded-3">
                      <h6 class="px-2">أصحاب المعدات :</h6>
                      <ul class="row">
                        <div class="col-md-6">
                          <li>توفير الوقت في البحث</li>
                        </div>

                        <div class="col-md-6">
                          <li>الحصول على أسعار أفضل</li>
                        </div>

                        <div class="col-md-6">
                          <li>إدارة مصروفات الصيانة</li>
                        </div>

                        <div class="col-md-6">
                          <li>سجل كامل لكل معدة</li>
                        </div>

                        <div class="col-md-6">
                          <li>الوصول السريع للخدمات</li>
                        </div>
                      </ul>
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="suppliers shadow-sm h-100 p-3 rounded-3">
                      <h6 class="px-2">الموردون :</h6>
                      <ul class="row">
                        <div class="col-md-6">
                          <li>الوصول لقاعدة عملاء أوسع</li>
                        </div>

                        <div class="col-md-6">
                          <li>زيادة المبيعات</li>
                        </div>

                        <div class="col-md-6">
                          <li>إدارة الطلبات بشكل منظم</li>
                        </div>

                        <div class="col-md-6">
                          <li>عرض المخزون رقميًا</li>
                        </div>
                      </ul>
                    </div>

                  </div>

                  <div class="col-md-4">
                    <div class="maintenance-workshops shadow-sm h-100 p-3 rounded-3">
                      <h6 class="px-2">ورش الصيانة :</h6>
                      <ul class="row">
                        <div class="col-md-6">
                          <li>استقبال طلبات عمل منظمة</li>
                        </div>

                        <div class="col-md-6">
                          <li>زيادة فرص التشغيل</li>
                        </div>

                        <div class="col-md-6">
                          <li>عرض الخدمات بشكل احترافي</li>
                        </div>

                        <div class="col-md-6">
                          <li>بناء سمعة رقمية من خلال التقييمات</li>
                        </div>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>

              <div class="vision-mission">
                <h2 clas>الرؤية والرسالة</h2>
                <h6 class="px-2">الرؤية :</h6>
                <ul class="row">
                  <div class="col-md-6">
                    <li></li>
                  </div>
                </ul>

                <h6 class="px-2">الرسالة :</h6>
                <ul class="row">
                  <div class="col-md-6">
                    <li>توفير حلول رقمية ذكية تسهّل إدارة وتشغيل وصيانة المعدات، وتربط جميع أطراف القطاع في نظام موحّد وفعّال.</li>
                  </div>
                </ul>
              </div>

              <div class="core-values">
                <h2 clas>قيمنا الأساسية</h2>
                <ul class="row">
                  <div class="col-md-6">
                    <li>الشفافية</li>
                  </div>

                  <div class="col-md-6">
                    <li>السرعة</li>
                  </div>

                  <div class="col-md-6">
                    <li>الموثوقية</li>
                  </div>

                  <div class="col-md-6">
                    <li>سهولة الاستخدام</li>
                  </div>

                  <div class="col-md-6">
                    <li>الابتكار</li>
                  </div>
                </ul>
              </div>
            </div>
          </div>
      </div>
    </div> -->

    <div class="row justify-content-center my-4">
      @for ( benefit of benefits; track $index) {
        <div class="col-md-6 col-lg-3 col-12 mb-3">
          <div class="card text-center d-flex justify-content-center align-items-center rounded-4 py-3 h-100">
            <img [src]="benefit.image" class="card-img-top" [alt]="benefit.title">
            <div class="card-body d-flex flex-column justify-content-between align-items-center">
              <h5 class="card-title">{{ benefit.title }}</h5>
              <p class="card-text">{{ benefit.description }}</p>
              <button class="btn main-btn w-100">تواصل مع خبرائنا الآن</button>
            </div>
          </div>
        </div>
      }
    </div>

  </div>
</section>
