.trust-section {
  background: #f8f9fa;

  .card {
    transition: transform 0.3s, box-shadow 0.3s;

    &:hover {
      transform: translateY(-10px);
      box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15);
    }

    img{
      width: 120px;
      height: 120px;
    }

    .card-title {
      font-size: 1.5rem;
    }

    .card-text {
      font-size: 0.95rem;
    }

    button{
      font-size: 14px;
    }

  }
}
