$main-color : #2A39AD;
$second-color:#2449E0;

.spare-parts-section {
  background-color: #f9fafb;

  .product-card {
    background: #fff;
    transition: 0.3s ease;

    .ribbon {
      position: absolute;
      top: 0;
      color: #fff;
      font-size: 12px !important;

      &.part {
        right: 0;
        background-color: $main-color;
        border-top-right-radius: 15px !important;
        border-bottom-left-radius: 15px !important;
      }

      &.type {
        left: 0;
        background-color: $second-color;
        border-top-left-radius: 15px !important;
        border-bottom-right-radius: 15px !important;
      }
    }

    .product-price {
      font-size: 16px;
      font-weight: 700;
      color: $second-color;
      margin: 0;
    }

    .money-icon{
      fill: $second-color;
    }

    img {
      max-height: 120px;
      object-fit: contain;
    }

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 6px 20px rgba(0,0,0,0.08);
      img{
        transform: scale(1.05);
      }
    }
  }
}
