/* You can add global styles to this file, and also import other style files */
$main-color : #171F61;
$second-color:#3A55EA;
*{
  transition: all .3s;
}

h2{
  color: $main-color;
}
h5{
  color: #333;
}
@media (max-width:567px) {
  h2{
    font-size: 20px;
  }
  h5{
    font-size: 14px;
  }
}
.cr{
  cursor: pointer;
}

.main-color{
  color: $main-color;
}
.second-color{
  color: $second-color;
}

.main-btn{
  width: 120px;
  background-color: $main-color;
  color: #fff;
  border-radius: 20px;
  &:hover{
    background-color: $second-color;
    color: #fff;
  }
}

.second-btn{
  width: 100px;
  border: 1px solid $main-color;
  font-size: 14px;
  font-weight: bold;
  color: $main-color;
  border-radius: 20px;
  &:hover{
    background-color: $main-color;
    color: #fff;
  }
}

